node-red-flows.json
[
    {
        "id": "99f959aa712e081d",
        "type": "group",
        "z": "fda6137b3374fbd5",
        "name": "ZONE 2: Edge Processing (Format Payload)",
        "style": {
            "stroke": "#ffc107",
            "fill": "#fff9c4",
            "label": true
        },
        "nodes": [
            "a037395efcb60421",
            "a7d979000de7ee5c",
            "a880ec0477886e06",
            "fccb3024dfa6ab5c",
            "3b606db571496ba5",
            "bb53a52279a8c8e7",
            "5a3333232a19b3c6",
            "fdc10c0f8912c526",
            "680d034af8edd574",
            "d0f1a5226c6d8dd7",
            "d0f2ac0021dbf1b2",
            "20dbdae09b8485c4",
            "cbcbc7855ad04e49"
        ],
        "x": 14,
        "y": 159,
        "w": 1892,
        "h": 262
    },
    {
        "id": "a037395efcb60421",
        "type": "mqtt in",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "name": "Sub All Sensors",
        "topic": "AirQuality/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "beebotte_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "a7d979000de7ee5c"
            ]
        ]
    },
    {
        "id": "a7d979000de7ee5c",
        "type": "function",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "name": "Smart Aggregator (Python compatible)",
        "func": "// Récupération topic\nlet topic = msg.topic.split('/')[1];\n\n// --- ADAPTATION UNIVERSELLE ---\nlet incomingVal;\nif (msg.payload && msg.payload.value !== undefined) {\n    incomingVal = msg.payload.value;\n} else if (msg.payload && msg.payload.data !== undefined) {\n    incomingVal = msg.payload.data;\n} else {\n    incomingVal = msg.payload;\n}\n\nlet now = Date.now();\nlet context = flow.get('sensor_buffer') || {};\n\ncontext[topic] = {\n    value: incomingVal,\n    ts: now\n};\nflow.set('sensor_buffer', context);\n\nlet required = ['co2', 'pm25', 'temp', 'hum'];\nlet payload = {};\nlet missingOrStale = false;\n\nfor (let sensor of required) {\n    if (!context[sensor]) {\n        missingOrStale = true;\n        node.status({fill:'yellow', shape:'ring', text:'Waiting for ' + sensor});\n        break;\n    }\n    if (now - context[sensor].ts > 30000) {\n        missingOrStale = true;\n        node.status({fill:'red', shape:'dot', text: sensor + ' is STALE!'});\n        break;\n    }\n    payload[sensor] = context[sensor].value;\n}\n\nif (!missingOrStale) {\n    node.status({fill:'green', shape:'dot', text:'Sync OK'});\n    msg.payload = payload;\n    msg.headers = { \"Content-Type\": \"application/json\" };\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "a880ec0477886e06"
            ]
        ]
    },
    {
        "id": "a880ec0477886e06",
        "type": "http request",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "name": "Cloud AI (HuggingFace)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://ahyahya1616-fast-api-classification-air.hf.space/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "bb53a52279a8c8e7"
            ]
        ]
    },
    {
        "id": "fccb3024dfa6ab5c",
        "type": "catch",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "name": "Catch Network Errors",
        "scope": [
            "a880ec0477886e06"
        ],
        "x": 460,
        "y": 380,
        "wires": [
            [
                "3b606db571496ba5"
            ]
        ]
    },
    {
        "id": "3b606db571496ba5",
        "type": "function",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "name": "Fallback: Edge Rule Engine",
        "func": "let input = flow.get('sensor_buffer');\nif (!input || !input.co2) return null;\n\nlet co2 = input.co2.value;\nlet pm25 = input.pm25.value;\n\nlet prediction = 'Clean';\nif (co2 > 1000 || pm25 > 100) {\n    prediction = 'Polluted';\n}\n\nmsg.payload = {\n    prediction: prediction,\n    probability: [0, 1],\n    fallback_mode: true\n};\n\nnode.warn(\"Cloud AI failed. Using Local Fallback.\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 360,
        "wires": [
            [
                "bb53a52279a8c8e7"
            ]
        ]
    },
    {
        "id": "bb53a52279a8c8e7",
        "type": "function",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "name": "Formatage FINAL (Split)",
        "func": "let sensors = flow.get('sensor_buffer');\nlet apiResponse = msg.payload; \n\nlet rawPred = apiResponse.prediction;\nlet label = \"Inconnu\";\n\nif (rawPred === 1 || rawPred === \"1\" || apiResponse.label === \"Polluted\") {\n    label = \"Polluted\";\n} else if (rawPred === 0 || rawPred === \"0\" || apiResponse.label === \"Clean\") {\n    label = \"Clean\";\n} else if (typeof rawPred === 'string') {\n    label = rawPred;\n}\n\nlet source = apiResponse.fallback_mode ? \"EDGE_LOCAL\" : \"CLOUD_AI\";\n\nlet cleanPayload = {\n    timestamp: new Date(),\n    sensors: {\n        co2: sensors.co2.value,\n        pm25: sensors.pm25.value,\n        temp: sensors.temp.value,\n        hum: sensors.hum.value\n    },\n    analysis: {\n        prediction: label,\n        raw_value: rawPred,\n        probability: apiResponse.probability ? apiResponse.probability[1] : 0,\n        source: source\n    }\n};\n\nlet fanPayload = (label === \"Polluted\") ? \"ON\" : \"OFF\";\n\n// Output 1 -> DB, Output 2 -> Action & Alert\nreturn [ { payload: cleanPayload }, { payload: fanPayload } ];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 240,
        "wires": [
            [
                "5a3333232a19b3c6",
                "680d034af8edd574"
            ],
            [
                "fdc10c0f8912c526",
                "d0f1a5226c6d8dd7"
            ]
        ]
    },
    {
        "id": "5a3333232a19b3c6",
        "type": "debug",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "name": "SYSTEM STATUS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 200,
        "wires": []
    },
    {
        "id": "fdc10c0f8912c526",
        "type": "mqtt out",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "name": "Action: Ventilation",
        "topic": "Building/Ventilation",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "beebotte_broker",
        "x": 1250,
        "y": 300,
        "wires": []
    },
    {
        "id": "680d034af8edd574",
        "type": "mongodb out",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "mongodb": "mongo_config",
        "name": "Archive Mongo",
        "collection": "readings_v2",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1440,
        "y": 260,
        "wires": []
    },
    {
        "id": "d0f1a5226c6d8dd7",
        "type": "switch",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "name": "If CRITICAL (ON)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1110,
        "y": 380,
        "wires": [
            [
                "d0f2ac0021dbf1b2"
            ]
        ]
    },
    {
        "id": "d0f2ac0021dbf1b2",
        "type": "delay",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "name": "Anti-Spam (2 min)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1310,
        "y": 380,
        "wires": [
            [
                "20dbdae09b8485c4"
            ]
        ]
    },
    {
        "id": "20dbdae09b8485c4",
        "type": "function",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "name": "Rédiger Email Alert",
        "func": "msg.topic = \"🚨 ALERTE CRITIQUE : Qualité de l'Air\";\n\nmsg.payload = \"⚠️ ATTENTION ⚠️\\n\\n\" +\n              \"Une pollution anormale a été détectée dans l'usine.\\n\" +\n              \"Niveau de risque : ÉLEVÉ\\n\" +\n              \"Action automatique : La ventilation a été ACTIVÉE.\\n\\n\" +\n              \"Heure de l'incident : \" + new Date().toLocaleTimeString() + \"\\n\\n\" +\n              \"Ceci est un message automatique du système EcoSense-AI.\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 380,
        "wires": [
            [
                "cbcbc7855ad04e49"
            ]
        ]
    },
    {
        "id": "cbcbc7855ad04e49",
        "type": "e-mail",
        "z": "fda6137b3374fbd5",
        "g": "99f959aa712e081d",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": false,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "ahmaneyahya10@gmail.com",
        "dname": "",
        "x": 1760,
        "y": 300,
        "wires": []
    },
    {
        "id": "beebotte_broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mongo_config",
        "type": "mongodb",
        "hostname": "cluster0.tdovvso.mongodb.net/?appName=Cluster0",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "air_quality_db",
        "name": "Atlas Cloud"
    },
    {
        "id": "9632faf5ba908f87",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mongodb": "0.2.5",
            "node-red-node-email": "5.1.0"
        }
    }
]
