node-red-flows.json
[
    {
        "id": "group_process",
        "type": "group",
        "z": "fda6137b3374fbd5",
        "name": "ZONE 2: Edge Intelligence & Database",
        "style": {
            "stroke": "#ff9800",
            "fill": "#fff3e0",
            "label": true
        },
        "nodes": [
            "mqtt_in_all",
            "func_aggregator",
            "req_cloud_ai",
            "catch_net_err",
            "func_fallback",
            "func_format_final",
            "debug_system",
            "mqtt_out_fan",
            "mongo_out_reading",
            "switch_critical",
            "delay_spam",
            "func_email",
            "node_email"
        ],
        "x": 14,
        "y": 299,
        "w": 1872,
        "h": 282
    },
    {
        "id": "mqtt_in_all",
        "type": "mqtt in",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "name": "Sub All Sensors",
        "topic": "AirQuality/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "beebotte_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "func_aggregator"
            ]
        ]
    },
    {
        "id": "func_aggregator",
        "type": "function",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "name": "Smart Aggregator",
        "func": "// Récupération topic\nlet topic = msg.topic.split('/')[1];\n\n// Extraction valeur\nlet incomingVal;\nif (msg.payload && msg.payload.value !== undefined) {\n    incomingVal = msg.payload.value;\n} else {\n    incomingVal = msg.payload;\n}\n\nlet now = Date.now();\nlet context = flow.get('sensor_buffer') || {};\n\ncontext[topic] = {\n    value: incomingVal,\n    ts: now\n};\nflow.set('sensor_buffer', context);\n\nlet required = ['co2', 'pm25', 'temp', 'hum'];\nlet payload = {};\nlet missing = false;\n\nfor (let sensor of required) {\n    if (!context[sensor] || (now - context[sensor].ts > 30000)) {\n        missing = true;\n        node.status({fill:'yellow', shape:'ring', text:'Wait/Stale: ' + sensor});\n        break;\n    }\n    payload[sensor] = context[sensor].value;\n}\n\nif (!missing) {\n    node.status({fill:'green', shape:'dot', text:'Sync OK'});\n    msg.payload = payload;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 460,
        "wires": [
            [
                "req_cloud_ai"
            ]
        ]
    },
    {
        "id": "req_cloud_ai",
        "type": "http request",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "name": "Cloud AI",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://ahyahya1616-fast-api-classification-air.hf.space/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 600,
        "y": 360,
        "wires": [
            [
                "func_format_final"
            ]
        ]
    },
    {
        "id": "catch_net_err",
        "type": "catch",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "name": "Catch Errors",
        "scope": [
            "req_cloud_ai"
        ],
        "x": 470,
        "y": 540,
        "wires": [
            [
                "func_fallback"
            ]
        ]
    },
    {
        "id": "func_fallback",
        "type": "function",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "name": "Fallback Logic",
        "func": "let input = flow.get('sensor_buffer');\nlet co2 = input.co2.value;\nlet pm25 = input.pm25.value;\n\nlet prediction = 'Clean';\nif (co2 > 1000 || pm25 > 100) {\n    prediction = 'Polluted';\n}\n\nmsg.payload = {\n    prediction: prediction,\n    probability: [0, 1],\n    fallback_mode: true\n};\n\nnode.warn(\"Cloud AI failed. Using Local Fallback.\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 520,
        "wires": [
            [
                "func_format_final"
            ]
        ]
    },
    {
        "id": "func_format_final",
        "type": "function",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "name": "Formatage & Décision",
        "func": "let sensors = flow.get('sensor_buffer');\nlet apiResponse = msg.payload; \n\n// 1. Interprétation de la réponse IA/Fallback\nlet rawPred = apiResponse.prediction;\nlet label = \"Inconnu\";\n\nif (rawPred === 1 || rawPred === \"1\" || apiResponse.label === \"Polluted\" || rawPred === \"Polluted\") {\n    label = \"Polluted\";\n} else {\n    label = \"Clean\";\n}\n\nlet source = apiResponse.fallback_mode ? \"EDGE_LOCAL\" : \"CLOUD_AI\";\n\n// 2. Décision Actuateur (Logique Métier)\n// Si Pollué => ON, Sinon => OFF\nlet fanAction = (label === \"Polluted\") ? \"ON\" : \"OFF\";\n\n// 3. Construction de l'objet pour MONGODB (Collection Readings)\nlet dbRecord = {\n    timestamp: new Date(),\n    sensors: {\n        co2: sensors.co2.value,\n        pm25: sensors.pm25.value,\n        temp: sensors.temp.value,\n        hum: sensors.hum.value\n    },\n    actuators: {\n        ventilation: fanAction // <--- STOCKAGE DE L'ACTION\n    },\n    analysis: {\n        prediction: label,\n        probability: apiResponse.probability ? apiResponse.probability[1] : 0,\n        source: source\n    }\n};\n\n// 4. Construction de l'objet pour MQTT (Actuateur Physique)\nlet mqttPayload = fanAction;\n\n// Sorties : \n// 1 -> Mongo (objet complet)\n// 2 -> MQTT & Alertes (juste ON/OFF)\nreturn [ { payload: dbRecord }, { payload: mqttPayload } ];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 400,
        "wires": [
            [
                "mongo_out_reading",
                "debug_system"
            ],
            [
                "mqtt_out_fan",
                "switch_critical"
            ]
        ]
    },
    {
        "id": "debug_system",
        "type": "debug",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "name": "DB Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 340,
        "wires": []
    },
    {
        "id": "mqtt_out_fan",
        "type": "mqtt out",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "name": "Actuateur: Ventilation",
        "topic": "Building/Ventilation",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "beebotte_broker",
        "x": 1240,
        "y": 460,
        "wires": []
    },
    {
        "id": "mongo_out_reading",
        "type": "mongodb out",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "mongodb": "mongo_config",
        "name": "Insert Reading",
        "collection": "readings",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1340,
        "y": 400,
        "wires": []
    },
    {
        "id": "switch_critical",
        "type": "switch",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "name": "If CRITICAL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "delay_spam"
            ]
        ]
    },
    {
        "id": "delay_spam",
        "type": "delay",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "name": "Anti-Spam",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1310,
        "y": 540,
        "wires": [
            [
                "func_email"
            ]
        ]
    },
    {
        "id": "func_email",
        "type": "function",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "name": "Rédiger Email",
        "func": "msg.topic = \"🚨 ALERTE : Ventilation Activée\";\nmsg.payload = \"La qualité de l'air est dégradée. La ventilation a été démarrée automatiquement.\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 540,
        "wires": [
            [
                "node_email"
            ]
        ]
    },
    {
        "id": "node_email",
        "type": "e-mail",
        "z": "fda6137b3374fbd5",
        "g": "group_process",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": false,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "ahmaneyahya10@gmail.com",
        "dname": "",
        "x": 1740,
        "y": 540,
        "wires": []
    },
    {
        "id": "beebotte_broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mongo_config",
        "type": "mongodb",
        "hostname": "cluster0.tdovvso.mongodb.net/?appName=Cluster0",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "air_quality_db",
        "name": "Atlas Cloud"
    },
    {
        "id": "group_health",
        "type": "group",
        "z": "fda6137b3374fbd5",
        "name": "ZONE 3: Monitoring État Capteurs (Watchdog)",
        "style": {
            "stroke": "#e91e63",
            "fill": "#fce4ec",
            "label": true
        },
        "nodes": [
            "mqtt_health_in",
            "trigger_watchdog",
            "func_set_broken",
            "func_set_working",
            "rate_limit_working",
            "mongo_update_status",
            "debug_status"
        ],
        "x": 14,
        "y": 619,
        "w": 1012,
        "h": 222
    },
    {
        "id": "mqtt_health_in",
        "type": "mqtt in",
        "z": "fda6137b3374fbd5",
        "g": "group_health",
        "name": "Listen Activity",
        "topic": "AirQuality/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "beebotte_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 700,
        "wires": [
            [
                "trigger_watchdog",
                "rate_limit_working"
            ]
        ]
    },
    {
        "id": "trigger_watchdog",
        "type": "trigger",
        "z": "fda6137b3374fbd5",
        "g": "group_health",
        "name": "Watchdog (60s)",
        "op1": "",
        "op2": "TIMEOUT",
        "op1type": "nul",
        "op2type": "str",
        "duration": "60",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 760,
        "wires": [
            [
                "func_set_broken"
            ]
        ]
    },
    {
        "id": "func_set_broken",
        "type": "function",
        "z": "fda6137b3374fbd5",
        "g": "group_health",
        "name": "Set: BROKEN",
        "func": "// 1. Définir QUI on met à jour\nmsg.query = { type: 'sensor' };\n\n// 2. Définir QUOI mettre à jour\nmsg.payload = { \n    $set: { \n        status: 'broken', \n        current_state: 'OFF'\n    } \n};\n\n// 3. Forcer l'opération 'updateMany'\nmsg.operation = 'updateMany';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 760,
        "wires": [
            [
                "mongo_update_status",
                "debug_status"
            ]
        ]
    },
    {
        "id": "func_set_working",
        "type": "function",
        "z": "fda6137b3374fbd5",
        "g": "group_health",
        "name": "Set: WORKING",
        "func": "// 1. Définir QUI on met à jour (La requête)\nmsg.query = { type: 'sensor' };\n\n// 2. Définir QUOI mettre à jour (L'action)\nmsg.payload = { \n    $set: { \n        status: 'working',\n        current_state: 'ON',\n        last_communication: new Date()\n    } \n};\n\n// 3. Forcer l'opération 'updateMany' pour modifier tous les capteurs d'un coup\n// Cela surcharge la configuration du noeud Mongo\nmsg.operation = 'updateMany';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 660,
        "wires": [
            [
                "mongo_update_status"
            ]
        ]
    },
    {
        "id": "rate_limit_working",
        "type": "delay",
        "z": "fda6137b3374fbd5",
        "g": "group_health",
        "name": "1 update / min",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 660,
        "wires": [
            [
                "func_set_working"
            ]
        ]
    },
    {
        "id": "mongo_update_status",
        "type": "mongodb out",
        "z": "fda6137b3374fbd5",
        "g": "group_health",
        "mongodb": "mongo_config",
        "name": "Update Hardware",
        "collection": "hardwares",
        "payonly": true,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 910,
        "y": 700,
        "wires": []
    },
    {
        "id": "debug_status",
        "type": "debug",
        "z": "fda6137b3374fbd5",
        "g": "group_health",
        "name": "ALERT: SENSORS LOST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 800,
        "wires": []
    },
    {
        "id": "1a8bbf298d11ea14",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mongodb": "0.2.5",
            "node-red-node-email": "5.1.0"
        }
    }
]
